<% provide :page_title, "Massanutten Lions Phone Book" %>
<div class="page-header">
  <h1>McGaheysville-Massanutten Lions Club Phone Book</h1>
</div>
<h3>Total number of members: <%= @users.count %></h3>


<table class="table table-hover table-bordered table-striped table-condensed">
  <thead>
  <tr>
    <th style="text-align: center;vertical-align: middle; "><%= link_to "First Name", :sort => "first_name" %> / <%= link_to "Last Name", :sort => "last_name" %> </th>
    <th style="text-align: center;vertical-align: middle; "><%= link_to "Address", :sort => "street" %> / <%= link_to "Email", :sort => "email" %></th>
    <th style="text-align: center;vertical-align: middle; "><%= link_to "Phone", :sort => "phone" %>/<%= link_to "Birthday", :sort => "birthday" %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name+' '+user.last_name %><br> <em><small><%= user.leadership!= 'Non' ? user.leadership : '' %><%=  user.officers!= 'Non' ? ', '+user.officers : '' %></small></em></td>
        <td><%= user.house_number+' '+user.street+', '+user.city+', '+user.state+', '+user.postal_code %> <br><a href='mailto:#' target='_blank'><%= user.email %></a></td>
        <td><%= user.phone %><br><%= user.birthday.strftime("%B %d") %></td>
        <td><%= image_tag user.avatar.url(:thumb), :size => '30x30' %></td>

      </tr>
  <% end %>
  </tbody>
</table>