<h4> <%= @club.current_year %> BOARD OF DIRECTORS</h4>
<table>
  <tbody>
  <tr>
    <td width="50%">
      <% @leaders.each do |leader| %>
          <em><%= leader.leadership %>:</em></strong> <%= leader.signature %>
          <br>
      <% end %>
    </td>
    <td width="50%"> <%= image_tag @club.avatar.url(:large) %> <br>
      <i class="center"><%= @club.current_year %> BOARD OF DIRECTORS</i></td>
  </tr>
  </tbody>
</table>
<hr>
<h4> <%= @newsletter.period.strftime("%B").upcase %> BIRTHDAYS</h4>
<table>
  <tbody>
  <tr>
    <td width="50%"><%= image_tag("box.jpg") %></td>
    <td width="50%">
      <% @users.each do |user| %>
          <% if user.birthday.strftime("%B") == @newsletter.period.strftime("%B") %>
              <em><%= user.signature %> ... <%= user.birthday.strftime("%B %d") %></em><br>
          <% end %>
      <% end %>
    </td>
  </tr>
  </tbody>
</table>
<hr>

