<% provide :page_title, "Edit Newsletter: #{@newsletter.title}" %>
<ul class="nav nav-pills">
  <li>
    <%= link_to({:controller => 'access', :action => 'menu'}, :class => "btn-primary") do %>
        <i class="icon-home icon-white"></i> Admin Home
    <% end %>
  </li>

  <li>
    <%= link_to({:controller => 'newsletters', :action => 'list'}, :class => "btn-primary") do %>
        <i class="icon-th-list icon-white"></i> Newsletters List
    <% end %>
  </li>


  <li>
    <%= link_to(root_path, :class => "btn-primary") do %>
        <i class="icon-home icon-white"></i> Site Home
    <% end %>
  </li>
  <li>
    <%= link_to({:controller => 'public', :action => 'show', :id => @newsletter.id}, :class => "btn-primary") do %>
        <i class="icon-globe icon-white"></i> Site Page
    <% end %>  </li>
</ul>


<%= form_for(:newsletter, :url => {:action => 'update', :id => @newsletter.id}, :html => {:class => "form-horizontal"}) do |f| %>
    <div class="well">


      <fieldset>
        <legend>
          <%= "Edit Newsletter #{@newsletter.period.strftime('%B %Y')}".upcase %>
        </legend>
        <%= render(:partial => "form", :locals => {:f => f}) %>
        <div class="control-group">
          <%= f.label "Newsletter Header:", :class => "control-label" %>
          <div class="controls">
            <%= f.text_area :header, :class => "input-xxlarge" %>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <%= f.submit "Update Newsletter", :class => "btn-large" %>
          </div>
        </div>
      </fieldset>
    </div>
<% end %>
