<% provide :page_title, "Members Information" %>
<div class="page-header">
  <h1>Members Information</h1>
</div>
<h3>Total number of members: <%= @users.count %></h3>


<table class="table table-hover table-bordered table-striped table-condensed">
  <thead>
  <tr>
    <th><%= link_to "Last Name", :sort => "last_name" %>  <%= link_to "First Name", :sort => "first_name" %></th>
    <th><%= link_to "Avatar", :sort => "avatar" %></th>
    <th><%= link_to "Birthday", :sort => "birthday" %></th>
    <th><%= link_to "Street", :sort => "street" %></th>
    <th><%= link_to "City", :sort => "city" %>  <%= link_to "State", :sort => "state" %> <%= link_to "Zip", :sort => "postal_code" %></th>
    <th>Post</th>

  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.last_name+' '+user.first_name %></td>
        <td><%= image_tag user.avatar.url(:thumb), :size => '40x40' %></td>
        <td><%= user.birthday.strftime("%B %d") %></td>
        <td><%= user.street+', '+user.house_number %></td>
        <td><%= user.city+', '+user.state+', '+user.postal_code %></td>
        <td><%= user.leadership!= 'Non' ? user.leadership : '' %><%= user.officers!= 'Non' ? ', '+user.officers : '' %></td>


      </tr>
  <% end %>
  </tbody>
</table>