<% provide :page_title, 'Create Club' %>
<ul class="nav nav-pills">
  <li>
    <%= link_to({:controller => 'access', :action => 'menu'}, :class => "btn-primary") do %>
        <i class="icon-home icon-white"></i> Admin Home
    <% end %>
  </li>
  <li>
    <%= link_to({:action => 'list'}, :class => "btn-primary") do %>
        <i class="icon-th-list icon-white"></i> Club Information
    <% end %>
  </li>
  <li>
    <%= link_to(root_path, :class => "btn-primary") do %>
        <i class="icon-home icon-white"></i> Site Home
    <% end %>
  </li>

</ul>

<%= form_for(:club, :url => {:action => 'create'}, :html => {:class => "form-horizontal"}) do |f| %>

    <div class="well span6 offset3">
      <fieldset>
        <legend>Insert Club Information</legend>
        <%= render(:partial => "form", :locals => {:f => f}) %>
        <div class="control-group">
          <div class="controls">
            <%= f.submit "Create Club", :class => "btn-large" %></div>
        </div>
      </fieldset>
<% end %>
</div>
